{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Donations{% endblock %}
{% block page_meta %}
    <meta name="description" content="Donations"/>
{% endblock %}

{% block content %}
<div class="container">
<div class="row py-5 mt-5">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% for donation in object_list %}
    <!-- Team Member 1 -->
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-0 shadow">
        <div class="card-body">
            <h5 class="card-title mb-0">{% if donation.donated_by %}<a href="{% url 'user-profile' donation.donated_by.username %}">{{ donation.donated_by.first_name }} {{ donation.donated_by.last_name }}</a>{% else %}{{ donation.display_name }} {% endif %} donated {{donation.no_of_item }}{{ donation.item.unit }} {{ donation.item.name }}</h5>
            <p class="card-text text-success mb-0" style="float: right;" >{% if donation.donated_by %}Reputation: + {{ donation.total_reputation_earned }}{% endif %} </p>
            <div class="card-text text-black-50">{{ donation.created_at|naturaltime }}</div>
        </div>
      </div>
    </div>
    <!-- end -->
    {% endfor %}
    <ul>
      {% if page_obj.has_other_pages %}
          {% if page_obj.has_previous %}
              <a class ="btn btn-outline-info mb-4" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">First</a>
              <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">Previous</a>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <a class ="btn btn-info mb-4" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                  <a class ="btn btn-outline-info mb-4" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">{{ num }}</a>
              {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
              <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">Next</a>
              <a class ="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% else %}&q={% endif %}{% if request.GET.kind %}&kind={{ request.GET.kind }}{% else %}&kind={% endif %}{% if request.GET.type %}&type={{ request.GET.type }}{% else %}&type={% endif %}">Last</a>
          {% endif %}
      {% endif %}
  </ul>
  </div>
  <!-- /.row -->
</div>
  
{% endblock %}