{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}
{% block title %}Change Your Password | meroDera{% endblock %}

{% block page_meta %}
    <meta name="description" content="Use this form to change the password of the meroDera account. Buy, Rent, or Sell Rooms, Houses, Flats/ Apartments, Hostels in Nepal. Find properties in Nepal."/>
{% endblock %}

{% block body %}
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="editing-info">
                                        <h5 class="f-title"><i class="ti-info-alt"></i>Change Password</h5>

                                        <form method="post" action="">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <button class="btn btn-primary btn-block" type="submit">Change Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
