{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Password Change Confirm | meroDera{% endblock %}

{% block page_meta %}
    <meta name="description" content="Change your account password of meroDera. Use the new password to log in again to meroDera. Buy, Rent, or Sell Rooms, Houses, Flats/ Apartments, Hostels in Nepal."/>
{% endblock %}

{% block content %}
{% if validlink %}
    <div class="card bg-light py-5">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">{% trans 'Reset Your Account Password' %}</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method = "post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> {% trans 'Reset Password' %}  </button>
                </div> <!-- form-group// -->
            </form>
            </article>
    </div> <!-- card.// -->
{% else %}
    <div class = "container py-5" style="margin-top: 80px;">
        <h1>{% trans 'Password reset failed' %}</h1>
        <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
    </div>
{% endif %}
{% endblock %}