{% extends 'base.html' %}
{% load i18n %}
{% block title %}Password Change Email Sent | meroDera{% endblock %}

{% block page_meta %}
    <meta name="description" content="Email for password reset has been sent to your email. Buy, Rent, or Sell Rooms, Houses, Flats/ Apartments, Hostels in Nepal."/>
{% endblock %}

{% block content %}
    <div class = "container py-5" style="margin-top: 80px;">
        <h4>{% trans 'Password reset link has been sent to you email. Please check you email for reset instructions...' %}</h4>
    </div>

{% endblock %}
