{% extends 'base.html' %}
{% load i18n %}
{% block title %}Password Reset Complete | meroDera{% endblock %}

{% block page_meta %}
    <meta name="description" content="Your password change request is complete. Find, rent, buy properties in Nepal at meroDera.com"/>
{% endblock %}

{% block content %}
    <div class="container py-5" style="margin-top: 80px;">
        <h3>{% trans 'Your password of meroDera has been changed!' %}</h3>
        <a class="btn btn-success btn-lg" href="{% url 'login' %}">{% trans 'Log in!' %}</a>
    </div>
{% endblock %}